<%- include('../includes/header'); %> 
<div class="container pt-4">
  <div class="col col-md-8 col-lg-6 mx-auto">
    <h1 class="fw-bolder text-center mb-4">Cuenta verificada exitosamente</h1>
    <p> Querido <%= user %> <br><br> ¡Muchas gracias por confirmar su cuenta de correo! Hemos recibido su confirmación y
      su cuenta se encuentra activa y lista para ser utilizada.<br><br> Con su cuenta de correo activada, podrá recibir
      nuestras actualizaciones y noticias, además de poder acceder a contenido exclusivo para nuestros usuarios.<br><br>
      Valoramos su tiempo y esfuerzo en confirmar su cuenta de correo, y nos complace tenerlo como parte de nuestra
      comunidad.<br><br> Gracias nuevamente por su confirmación, esperamos brindarle un excelente servicio y contenido en
      el futuro.<br><br> Atentamente, El equipo de CatalogoApp </p>

      <a href="/" class="btn btn-primary btn-lg mx-auto mt-4">Navegar por los productos</a>
  </div>
</div> 
<%- include('../includes/footer'); %>
