 <form action="/admin/product" method="POST" class="col-sm-10 col-md-8 col-lg-6 m-auto">
      <div class="my-4">
        <h1 class="fw-bolder">Add new Product</h1>
        <p>Complete the fields</p>
      </div>
      <div class="card p-3">
        <div class="fields row">
          <div class="col-12 mb-2">
            <label for="" class="fw-light">Title or product name:</label>
            <input type="text" name="title" class="form-control mb-2">
            <label for="" class="fw-light">Description:</label>
            <textarea type="text" name="description" class="form-control mb-2"></textarea>
            <label for="">Select image:</label>
            <select type="text" name="image" class="form-control">
              <option value="">Select...</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
            </select>
          </div>
          <div class="col-6 mb-2">
            <label for="" class="fw-light">Price:</label>
            <input type="number" name="stock" class="form-control">
          </div>
          <div class="col-6 mb-2">
            <label for="" class="fw-light">Stock:</label>
            <input type="number" name="price" class="form-control">
          </div>
          <div class="col-6 mb-2">
            <label for="" class="fw-light">Category:</label>
            <select type="text" name="category" class="form-control">
              <option value="">Select...</option>
              <option value="service">Type service</option>
              <option value="product">Type product</option>
            </select>
          </div>
          <div class="col-6 mb-3">
            <label for="" class="fw-light">Sub-category:</label>
            <select type="text" name="subcategory" class="form-control">
              <option value="">Select...</option>
                {{#each categories}}
                  <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
          </div>
        </div>
        <div class="pt-3 col-12 border-top text-end">
          <a href="" class="px-5 mr-3 btn btn-link"> Cancelar </a>
          <button class="btn btn-primary col-md-6 m-auto">Add product</button>
        </div>
      </div>
    </form>




















