<h1>My products</h1>
<p>List of products...</p>

<section class="container-fluid">
  <div class="row">
    {{#each products}}
        <div class="card col-12 col-sm-4 col-md-3 pb-3 px-0">
          <div class="cont-image">
            <img src="./img/products/{{image}}.jpeg" alt="product01" class="px-0">
          </div>
          <div class="text pt-3 px-3">
              <h2 class="fs-4">{{title}}</h2> 
              <p>{{description}}</p>
              <button class="btn btn-primary">Add to cart</button>
          </div>
        </div>
    {{/each}}
  </div>
</section>
